{{outlet}}
<!-- User number entry box-->
<div class="page-header">
  <h2>Create Post</h2>
</div>
<div class="col-md-6">
    <form>
      <div class="row">
        <label class="col-md-3"for="new-post-user">User #</label>
        {{input class="col-md-9" type="text" value=user id="new-post-user" required="true"}}
      </div>
      <div class="row">
        <label class="col-md-3" for="new-post-title">Title</label>
        {{input class="col-md-9" type="text" value=title id="new-post-title" required="true"}}
      </div>
      <div class="row">
        <label class="col-md-3" for="new-post-description">Description</label>
        {{textarea class="col-md-9" type="text" cols="50" rows="4" value=description id="new-post-description" required="true"}}
      </div>
    </form>
    <br>
    <button class="col-md-3" value="Submit" onClick={{action "createPost"}}>Post</button>
    <button class="col-md-3" value="cancel" onClick={{action "cancelPost"}}>Cancel</button>
</div>
