<!-- List of all posts by community-->
<h4>{{#link-to 'home.post'}}Post a new item{{/link-to}}</h4>
<br>
<h4>{{#link-to 'home.user'}}Register a new user{{/link-to}}</h4>

<div class="row">
  <div class="col-md-6">
    <div class="md-col-12">
      <div class="page-header">
        <h2>Your Posts</h2>
      </div>
    </div>
    <div class="row">
      <form onSubmit={{action 'getUserPosts'}}>
        <div>
          <label class="col-md-2"for="userNum">User #</label>
          {{input class="col-md-2" type="text" value=user id="userNum" required="true"}}
          <input type="submit" value="Get Your Posts">
        </div>
      </form>
    </div>
    <div class>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |post|}}
              <tr>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                {{#link-to 'home.edit' post}}
                <td>Edit</td>
                {{/link-to}}
              </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>
  {{outlet}}
</div>
